.category-list-item{
  a,span{
    @include text-date();
    line-height: 1;
    border: 1px solid $color-primary;
    color: $color-primary;
    padding: 12px 32px;
    display: inline-block;
    border-radius: 100px;
    transition: $transition-slow;
  }

  &.hover{
    &:hover{
      a,span{
        color: $color-white;
        background: $color-primary;
      }
    }
  }

  &.small{
    a,span{
      padding: 8px 16px;
    }
  }

  &.margin{
    margin: 6px 10px 6px 0;
  }

  &.primary{
    a,span{
      background: $color-primary;
      color: $color-white;
      border: 1px solid $color-primary;
    }
  }
}