.sp-menu-section-list-item{
  margin-bottom: 30px;

  &:first-child{
    padding-top: 0;
  }

  &__title{
    @include text-title();
    color: $color-white;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &.harf{
    width: calc((100% / 2) - 20px);
  }
}