.content-list{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  @media #{$SP}{
    flex-direction: column;
  }
  @media #{$TABLET}{
    justify-content: space-between;
    flex-direction: row;
  }
  @media #{$PC}{
    justify-content: space-between;
    flex-direction: row;
  }
}
