.demo{
    height: 40px;
    width: 100px;
    background: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 30px;
    z-index: $z-index-demo;

    &__title{
        padding-top: 2px;
        color: $color-white;
        font-size: 24px;
        text-align: center;
        font-family: $font-primary;
    }
}