// Theme
$color-primary: #c14343;
$color-secondary: #cb3939;
$color-black: #111111;
$color-white: #FFFFFF;
$color-gray: #AAAAAA;
$color-gray-light: #F8F8F8;

// Other
$color-link: #3481e5;
$color-border-line: #efefef;
$color-border-line-black: #2a2a2a;
$color-placeholder-text: #C0C4CC;
$color-placeholder-text-black: #4d4d4d;

// Message
$color-success: #67C23A;
$color-success-light: #E1F2D8;
$color-error: #F56C6C;
$color-error-light: #FFF6F7;
$color-warning: #E6A23C;
$color-warning-light: #FAECD8;
$color-info: #ECF8FF;
$color-info-light: #50BFFF;
$color-input: #f8f8f8;

// SNS
$color-facebook: #3C5A99;
$color-twitter: #1DA1F2;
$color-pocket: #D3505A;
$color-hatena: #008FDE;
$color-link: #33bad4;
$color-line: #30AB35;
$color-instagram: #CC175E;
$color-note: #2EB696;
