// BREAK-POINT
$SP:  "only screen and (max-width:628px)";
$TABLET: "only screen and (min-width:629px) and (max-width:992px)";
$TABLET-OVER: "only screen and (min-width:629px)";
$PC:  "only screen and (min-width:993px)";
