$window-width-sp: calc(100% - 8%);
$window-width-sp-small: 92%;
$window-max-width-sp: 600px;
$window-width-pc: calc(100% - 12%);
$window-width-pc-small: 880px;
$window-max-width-pc: 1080px;
$border-radius: 10px;
$width-sidebar: 360px;
$width-sidenav: 240px;
$height-header: 120px;
$height-header-small: 80px;
$height-header-sp: 80px;
