$window-width-sp: 90%;
$window-width-sp-small: 92%;
$window-max-width-sp: 600px;
$window-width-pc: 86%;
$window-width-pc-small: 800px;
$window-max-width-pc: 2000px;
$border-radius: 10px;
$width-sidebar: 400px;
$width-sidenav: 240px;
$height-header: 100px;
$height-header-small: 55px;

//$padding-sp: 24px;
//$max-width-inner-pc: 1200px;
//$max-width-inner-pc-medium: 900px;
//$max-width-inner-pc-small: 620px;
//$width-inner-pc: calc(100% - 80px);
//$width-inner-pc-medium: 70%;
//$width-inner-pc-small: 55%;
//$width-inner-tablet: 94%;
//$width-inner-sp: calc(100% - (#{$padding-sp} * 2));
//$width-sidebar: 360px;
//$height-header: 70px;
//$height-header-sp: 60px;
//$height-header-large: 80px;
//$heigth-product-bar: 45px;
//$heigth-kv-pc: 620px;
