.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba($color-black, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: $transition-slow;
  z-index: $z-index-header;
  height: $height-header;

  &.is-black{
    height: $height-header-small;
    top: 0px;
    background: linear-gradient(103.64deg,rgba($color-secondary,.8) 5.41%,rgba($color-primary,0.8) 68.05%), url('../../dist/images/background/bg-sp.webp');
    background-position: center;
    background-size: cover;
  }

  &__reserve{
    margin-left: 30px;
  
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu__left{
  line-height: 1;
}

.header-menu__logo{
  height: 20px;
  width: auto;
  @media #{$PC}{
    height: 22px;
  }
  img{
    height: 20px;
    width: auto;
    margin-bottom: 2px;
    @media #{$PC}{
      height: 40px;
    }
  }
}

.header-menu__right{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.header-menu__lists {
  display: none;
  @media #{$PC}{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-menu__list-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-left: 1px solid $color-gray-light;
  &:last-child{
    border-right: 1px solid $color-gray-light;
  }

  a{
    padding: 0 20px;
    font-size: 14px;
    color: $color-white;
    font-weight: bold;
  }
  i{
    margin-left: 5px;
    font-size: 14px;
    color: $color-white;
    display: inline-block;
  }
}

.header-menu__hamburger{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin-left: 40px;
  border: 1px solid $color-white;
  background: $color-white;
  border-radius: 16px;
  padding: 10px 6px;
  width: 44px;
  height: 44px;

  &.border-list{
    .border-list-item{
      width: 17px;
      height: 2px;
      background: $color-primary;
      margin-bottom: 4px;
      border-radius: $border-radius;
      display: block;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &:hover{
    background: $color-white;
    .border-list-item{
      background: $color-primary;
    }
  }
}
