// ページのメインコンテンツ
.main{
  width: 100%;

  &.top{
    padding-top: 30px;
    @media #{$TABLET}{
      padding-top: 30px;
    }
    @media #{$PC}{
      padding-top: 50px;
    }
  }

  &.bottom{
    padding-bottom: 30px;
    @media #{$TABLET}{
      padding-bottom: 30px;
    }
    @media #{$PC}{
      padding-bottom: 50px;
    }
  }
}
