.blog-list-item {
    width: 100%;
    // border-bottom: 1px solid $color-border-line;
    padding: 20px;
    background: $color-white;
    margin-bottom: 10px;
    border-radius: $border-radius;

    // &:first-child{
    //     border-top: 1px solid $color-border-line;
    // }
    a{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &.harf{
        width: calc((100% / 2) - 10px);
    }


    &.white{
        .blog-list-item__title,
        .blog-list-item__created-at{
            color: $color-white !important;
        }
    }

    &__image{
        overflow: hidden;
        width: 120px;
        height: 0;
        padding-top: 80px;
        background: #FAFAFA;
        border-radius: $border-radius;
        position: relative;
        &:after{
            content: "";
            display: block;
            width: calc(100% - 12px);
            height: calc(100% - 12px);
            position: absolute;
            top: 0;
            left: 0;
            border: 6px solid $color-primary;
            opacity: 0;
            transition: $transition-slow;
        }
        @media #{$TABLET}{
            width: 240px;
            height: 0;
            padding-top: 160px;
        }
        @media #{$PC}{
            width: 240px;
            height: 0;
            padding-top: 160px;
        }
    }

    &__text{
        display: block;
        @media #{$SP}{
            padding: 0 0 0 12px;
            width: calc(100% - 120px);
        }
        @media #{$TABLET}{
            padding: 0 0 0 12px;
            width: calc(100% - 240px);
        }
        @media #{$PC}{
            padding: 0 0 0 16px;
            width: calc(100% - 240px);
        }
    }

    &__title{
        transition: $transition-slow;
        color: $color-white;
        display: block;
        @include text-title-small();
    }

    &__detail{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 6px;
    }

    &__created-at{
        transition: $transition-slow;
        @include text-date();
        color: $color-gray;
        margin-left: 8px;
    }

    // 60~80文字前後
    &__excerpt{
        @include text-body-small();
        margin-top: 8px;
        transition: $transition-slow;
        display: block;
        color: $color-white;
    }

    &__author{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
    }

    &__author-image{
        width: 26px;
        height: 26px;
        border-radius: 100px;
        margin-right: 8px;
        overflow: hidden

    }

    &__author-name{
        @include text-date();
        color: $color-gray-light;
    }
}
